
    
    body {
      background-image: url("sing\ up2.jpg");
      background-repeat: repeat-x;
      background-size: contain;
       width: 10cm;
       height: 50cm;
       padding: 160px;
       padding-left: 560px;
       
      }

   
       form { 
        background-color: #fff; 
        max-width: 500px; 
        margin: 0 auto; 
        padding: 20px; 
        border-radius: 10px; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
       
      } 

      h1 { 
        text-align: center; 
        color: #416d3e; 
      } 
     
     input[type=text], input[type=password], input[type=email] { 
      width: 100%; 
      padding: 12px 20px; 
      margin: 8px 0; 
      display: inline-block; 
      border: 1px solid #ccc; 
      border-radius: 4px; 
      box-sizing: border-box; 
      
    } 
    button { 
      background-color: #1C3230; 
      color: #fff; 
      padding: 12px 20px; 
      border: none; 
      border-radius: 4px; 
      cursor: pointer; 
      width: 100%; 
    } 
    button:hover { 
      background-color: #3b6966; 
    } 
    .container { 
      padding: 16px; 
     
    } 
    span.psw { 
      float: left; 
      padding-top: 16px; 
    } 

    .login-box { 
      background-color: #fff; 
      border-radius: 10px; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
      padding: 20px; 
      margin: 20px auto; 
      max-width: 400px; 
    
    } 